*.aux
*.dvi
*.log
*.out
*.bbl
*.blg
*.spl
*.idx
*.lof
*.lot
*.loa
*.toc
*.bak
*.snm
*.nav
*.vrb
*.h5
*.gif
*.ico
*.js
*.cub*
*.jou*
*.bin
*~
*.inpo
*.inpr
*.inpm
*.pyc
*.tar.gz
runtp*
mcta*
dyson_sphere_mcnp.o
dyson_sphere.h5m
infinite_medium.h5m
results/
old_results/
results_linlin/
continue_run.xml
CMakeFiles
CMakeCache.txt
GTAGS
GRTAGS
GPATH
.vscode/
