*.aux
*.dvi
*.log
*.out
*.bbl
*.blg
*.spl
*.idx
*.lof
*.lot
*.loa
*.toc
*.bak
*.snm
*.nav
*.vrb
*.h5
*.gif
*.ico
*.js
*.cub*
*.jou*
*.bin
*~
*.inpo
*.inpr
*.inpm
*.pyc
results/
results_linlin/
continue_run.xml
CMakeFiles
CMakeCache.txt
GTAGS
GRTAGS
GPATH
.vscode/
